extends ../../layouts/admin.pug

block main
    .admin-processing
        .container
            .row
                .col-12
                    h3.fs-1.fw-bold.pb-5 Delivered
                    if orders.length === 0
                        strong.fs-2.fw-medium.d-block.text-center No orders have been processing
                    each order in orders
                        .card.card-custom
                            .card-desc.pb-3.pt-2
                                h5.fs-3.fw-medium Email: #{order.user.email}
                                strong.fs-3.fw-medium Create at: #{order.createdAt}
                            .order-container.card
                                - var count = 1;
                                each product in order.orderItems
                                    .order-card.d-flex.justify-content-around
                                        strong.fs-4.fw-bold= count + "."
                                        img(src=product.thumbnail alt=product.name class="cart-img")
                                        h6.fs-4.fw-bold= product.name
                                        strong.fs-5 Price: $#{product.price}
                                        strong.fs-5 Quantity: #{product.quantity}
                                        p.fs-5 Total price for this product: $#{product.total}
                                    - count++;
                            .order-desc
                                strong.fs-3.fw-bold Total: $#{order.totalPrice}