extends ../../layouts/default.pug

block main
    .my-shipped.pt-5.pb-5
        .container
            .row
                .col-12
                    h3.fs-1.fw-bold.pb-5 Shipped
                    if orders.length === 0 
                        strong.fs-2.fw-medium No orders have been shipped
                    each order in orders
                        .order-container.card
                            - var count = 1;
                            each product in order.orderItems
                                .order-card.d-flex.justify-content-around
                                    strong.fs-4.fw-bold= count + "."
                                    img(src=product.thumbnail alt=product.name class="cart-img")
                                    h6.fs-4.fw-bold= product.name
                                    strong.fs-5 Price: $#{product.price}
                                    strong.fs-5 Quantity: #{product.quantity}
                                    p.fs-5 Total price for this product: $#{product.total}
                                - count++;
                            .order-desc.d-flex.justify-content-between
                                strong.fs-3.fw-bold Total: $#{order.totalPrice}
                                form(action=`/cart/view-cart/shipped/${order._id}/received?_method=PATCH` method="POST")
                                    button.fs-4.btn.btn-primary(type="submit") Received